.main {
  padding: 20px;
  height: 100vh;

  display: grid;
  grid-template-areas:
    'board menu'
    'board info';
  grid-template-columns: minmax(400px, 1fr) 300px;
  grid-template-rows: minmax(0, auto) 1fr;
  gap: 15px;

  & > div {
    padding: 0.7rem;
    border: 1px solid #fff;
    border-radius: 5px;
  }

  // .menu {
  //   grid-area: menu;

  //   display: flex;
  //   flex-flow: row wrap;
  //   justify-content: space-between;
  //   align-items: center;
  //   gap: 0.3rem;

  //   font-size: 14px;
  // }

  .leaderBoardLines-wrapper {
    grid-area: board;

    padding: 0;
  }

  .leaderBoardLines {
    height: 100%;
    padding: 0.7rem;

    display: flex;
    flex-flow: column;
    row-gap: 10px;

    overflow-y: auto;
  }
  .info {
    grid-area: info;

    position: relative;

    word-wrap: break-word;
    text-overflow: clip;

    // display: flex;
    // flex-flow: column nowrap;
    // justify-content: space-between;

    .title {
      color: darkgray;
    }

    .noti {
      position: absolute;
      bottom: 0.7rem;
      left: 0.7rem;
      right: 0.7rem;

      color: darkgray;
      font-size: 0.9rem;
    }
  }
}
