.modal {
  max-height: calc(100% - 50px);
  .input {
    display: flex;
    flex-flow: row nowrap;

    justify-content: flex-start;
    align-items: center;
    gap: 5px;

    margin-bottom: 1rem;

    .name {
      flex: 1 5 auto;
    }
    .accessor {
      flex: 3 3 auto;
    }

    .reset-btn {
      width: 100%;

      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: center;
    }
  }

  .custom-name {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
  }
  .custom-cell {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    .code {
      text-wrap: wrap;
      word-break: break-all;

      &:not([class~='isVisible']) {
        text-decoration: line-through;
        font-style: italic;
        color: darkgray;
      }
    }

    .btns {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: center;
      gap: 0.5rem;
    }
  }

  .plus-btn-wapper {
    display: flex;
    flex-flow: row nowrap;

    justify-content: space-between;
    align-items: center;
  }

  .more-setting {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;

    .setting-item {
      display: grid;
      grid-template-areas:
        'setting-name buttons'
        'description description';
      grid-template-columns: minmax(0, 1fr) auto;
      grid-template-rows: auto auto;
      align-items: center;
      row-gap: 0.3rem;

      .description {
        grid-area: description;

        color: darkgray;
        font-size: 0.8rem;
      }

      & > :first-child {
        grid-area: setting-name;
        font-weight: bold;
        font-size: 1.1rem;
      }
      & > :nth-child(2) {
        grid-area: buttons;
      }

      &.disable {
        cursor: not-allowed;
        color: gray;

        & * {
          cursor: not-allowed;
        }
        & > * {
          color: gray;
        }
      }
    }
  }
}
